@{title('Full website example')}

<h1>Total.js Example</h1>
<div class="row">
	<div class="col-md-4 col-sm-4 m">
		<a href="/services/"><img src="/img/001.jpg" border="0" alt="Eshop" class="img-responsive img-rounded" /></a>
	</div>
	<div class="col-md-4 col-sm-4 m">
		<a href="/services/"><img src="/img/002.jpg" border="0" alt="Easy modifications" class="img-responsive img-rounded" /></a>
	</div>
	<div class="col-md-4 col-sm-4 m">
		<a href="/services/"><img src="/img/003.jpg" border="0" alt="Redesign it" class="img-responsive img-rounded" /></a>
	</div>
</div>
<br />
<div class="row">
    <!-- NEWSLETTER COMPONENT -->
    <div class="col-md-8 col-md-offset-2">
        <ui-component name="part" path="common.page" config="if:home;url:/components/newsletter.html"></ui-component>
    </div>
</div>
<br />
<hr />
<br />
<div class="row">
	<div class="col-md-3 col-sm-3 m">
		<h3>Lorem ipsum dolor</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate vitae ipsam nesciunt officia, ipsa quo molestiae ex quibusdam praesentium odit.</p>
	</div>
	<div class="col-md-3 col-sm-3 m">
		<h3>Lorem ipsum dolor</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate vitae ipsam nesciunt officia, ipsa quo molestiae ex quibusdam praesentium odit.</p>
	</div>
	<div class="col-md-3 col-sm-3 m">
		<h3>Lorem ipsum dolor</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate vitae ipsam nesciunt officia, ipsa quo molestiae ex quibusdam praesentium odit.</p>
	</div>
	<div class="col-md-3 col-sm-3 m">
		<h3>Lorem ipsum dolor</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate vitae ipsam nesciunt officia, ipsa quo molestiae ex quibusdam praesentium odit.</p>
	</div>
</div>
<br />
<br />
<div class="row">
	<div class="col-md-6 col-md-offset-3 m">
		<a href="/contact/" class="linkbutton">CONTACT US</a>
	</div>
</div>

<script>

    var form = {};
	form.newsletter = true;

    ON('ready', function() {
    });


    var common = {};

    CACHEPATH('common.page', '1 week');
    CACHEPATH('common.darkmode', '1 week');

    common.page = 'home';
    common.layout = '';

    PLUGIN('common', function(exports) {

        exports.page = function(el) {
            var id = typeof(el) === 'string' ? el : el.attrd('if');
            exports.set('page', id);
        };

    });
</script>

