@{title('Full website example')}

<ui-component name="importer" path="common.page" config="if:home;url:/pages/home.html"></ui-component>
<ui-component name="importer" path="common.page" config="if:pageservices;url:/services.html"></ui-component>
<ui-component name="importer" path="common.page" config="if:contact;url:/pages/contact.html"></ui-component>
<ui-component name="importer" path="common.page" config="if:services;url:/pages/services.html"></ui-component>
<ui-component name="importer" path="common.page" config="if:references;url:/pages/references.html"></ui-component>

<!-- @{view} -->

<script>

    var form = {};
	form.newsletter = true;

    ON('ready', function() {
    });


    var common = {};

    CACHEPATH('common.page', '1 week');
    CACHEPATH('common.darkmode', '1 week');

    common.page = 'home';
    common.layout = '';

    
    PLUGIN('common', function(exports) {

        // SET('page', 'home');

        exports.page = function(el) {
            var id = typeof(el) === 'string' ? el : el.attrd('if');
            exports.set('page', id);
        };

        ROUTE('/', function() {
            SET('common.page', 'home');
        });

        ROUTE('/home/', function() {
            SET('common.page', 'home');
        });

        ROUTE('/references/', function() {
            SET('common.page', 'references');
        });

        ROUTE('/services/', function() {
            SET('common.page', 'services');
        });

        ROUTE('/contact/', function() {
            SET('common.page', 'contact');
        });

    });
</script>
